<div class="container-fluid bg-light py-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 my-3">
        <h2>
          KVKK Politikamız
        </h2>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row my-5 py-5 justify-content-center">
    <div class="col-md-6">
      <h4>Kişisel Verilerin Korunması Kanunu Hakkında Genel Bilgilendirme</h4>
      <p class="text-justify">
        6698 Sayılı Kişisel Verilerin Korunması Kanunu (KVKK), kişisel verilerin işlenmesinde başta özel hayatın
        gizliliği olmak üzere kişilerin temel hak ve özgürlüklerini korumak ve kişisel verileri işleyen gerçek ve
        tüzel kişilerin yükümlülükleri ile uyacakları usul ve esasları düzenlemek amacıyla kabul edilmiştir.</p>
      <p>KVKK uyarınca, Veri Sorumlusu sıfatıyla, Sundus Elektronik Para ve Ödeme Kuruluşu A.Ş. müşterilerini, üye
        işyerlerini,
        çalışanları ve adayları aşağıdaki şekilde bilgilendirmekte ve KVKK’nun 10uncu maddesinde belirtilen kapsamda
        aşağıdaki şekilde aydınlatmaktadır.</p>
      <p>Kişisel Verilerinizin İşlenme Amaçları Toplama Yöntemi Ve Hukuki Sebepleri </p>
      <p>Kişisel veri, kişiyi belirli veya belirlenebilir kılan her türlü bilgidir. Bu tip bilgiler, örneğin, adınız,
        adresiniz, e-posta adresiniz, telefon numaranız veya web sitemize ulaşırken kullandığınız bilgisayarın ip
        adresi gibi veriler olabilir. Kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri
        kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması,
        muhafaza edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde
        edilebilir hâle getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi veriler üzerinde
        gerçekleştirilen her türlü işlem kişisel verilerin işlenmesidir.</p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid" src="assets/images/icon_big.svg" width="700">
    </div>
    <div class="col-md-11">
      <h5>Kişisel verileriniz;</h5>
      <ol>
        <li>Hukuka ve dürüstlük kurallarına uygun olarak,</li>
        <li>Doğru ve gerektiğinde güncel olarak,</li>
        <li>Belirli, açık ve meşru amaçlar ile,</li>
        <li>İşlendikleri amaçla bağlantılı, sınırlı ve ölçülü olarak,</li>
        <li>İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilmek üzere</li>
      </ol>
      <p>otomatik olan ya da herhangi bir veri kayıt sisteminin parçası olmak kaydıyla otomatik olmayan yollarla
        işlenecektir.</p>
      <p>
        Veri sorumlusu olarak kurumumuz tarafından kişisel verileriniz elektronik para ve ödeme hizmetlerinin
        yürütülmesi amacına uygun olarak aşağıda belirtilecek amaçlarla tutulmaktadır.
      </p>
      <ul>
        <li>Kimliğinizi doğrulamak,</li>
        <li>Sunulan hizmetlerin ve iş faaliyetlerinin ifası ve icrası ile bu hizmetlerden ilgili kişileri
          faydalandırmak amacıyla gerekli çalışmaların yapılması ve iş süreçlerinin yürütülmesi,</li>
        <li>Müşteri desteği sağlamak ve sorun gidermek,</li>
        <li>Hizmet ve faaliyetlerinin Şirket prosedürleri ve/veya ilgili mevzuata uygun olarak yürütülmesinin temini
          için gerekli operasyonel faaliyetlerin planlanması ve icrası,</li>
        <li>Sunulan hizmetlere ilişkin, güncel kampanya ve ödeme araçlarının kullanılabileceği, özellikle Müşterilerin
          elektronik para hizmetini daha geniş alanda ve efektif kullanmasında yararlı olacak bilgilerinin
          paylaşılması,</li>
        <li>Denetim faaliyetlerinin planlanması ve/veya icrası,</li>
        <li>Servis güncellemeleri ve hattalar hakkında sizi bilgilendirmek,</li>
        <li>Yetkili kuruluşlara mevzuat kaynaklı bilgi verilmesi,</li>
        <li>Finans, muhasebe ve/veya faturalandırmaya ilişkin süreçlerin takibi,</li>
        <li>Hukuki süreçlerin takibi, hukuki yükümlülüklerin yerine getirilmesi,</li>
        <li>Resmi kurumlarla iletişim ve yazışmaların gerçekleştirilmesi,</li>
        <li>Müşteri memnuniyeti aktivitelerinin planlanması ve sağlanması,</li>
        <li>Personel istihdamına ilişkin süreçlerin yönetilmesi</li>
        <li>Çalışanlar için yan haklar ve menfaatlerin planlanması ve/veya icrası,</li>
        <li>Çalışanların performans değerlendirme süreçlerinin planlanması ve/veya takibi,</li>

      </ul>
      <p>Yukarıda ifade edilen amaçlar dışında kanun ve mevzuatlar tarafından öngörülen yükümlülüklerimizin yerine
        getirilmesi gibi amaçlar dahilinde işlenebilecektir.</p>
      <h4>Kişisel Verilerinin Toplanması ve Usulü</h4>
      <p>Şirketimiz, kişisel verilerinizi işbu Aydınlatma Metni’nde belirtilen amaçlar doğrultusunda işleyecektir.
        Kişisel verilerinizin işlenme amacında herhangi bir değişiklik olması halinde tarafınızdan ayrıca izin
        alınacaktır.</p>
      <p>Şirketimiz tarafından toplanan ve kullanılan, kişisel veriler özellikle şunlardır:</p>
      <ul>
        <li>Kimlik bilgileri, iletişim bilgileri, kurumsal bilgisi, sağlayıcı bilgisi, kullanıcı bilgisi, finansal
          bilgi, evrak bilgi, fiziksel mekân güvenlik bilgisi, özlük bilgisi, çalışan bilgisi, çalışan aday bilgisi,
          talep/şikayet yönetim bilgisi, diğer kişilerden elde edilen bilgiler, çerez (cookie) bilgisi</li>
      </ul>
      <p>Kişisel verileriniz, gerek sözleşme ilişkisinin kurulmasından önce gerekse sözleşme ilişkisinin kurulmasından
        sonra ve devamı boyunca Şirketimize ibraz etmiş olduğunuz ve üçüncü kişilerden, kanunlarda öngörülen
        nedenlerle kamu kurum ve kuruluşlarından elde edilen her türlü bilgi belge ve doküman aracılığı ile kanunlarda
        öngörülen nedenlerle fiziksel veya elektronik ortamlar ve Şirket binalarına yerleştirdiğimiz kameralar
        aracılığıyla toplamaktadır.</p>
      <h4>Kişisel Verilerin Aktarılması</h4>
      <p>Kurumumuz hukuka uygun olan kişisel veri işleme amaçları doğrultusunda gerekli güvenlik önlemlerini alarak
        kişisel veri sahibinin kişisel verilerini ve özel nitelikli kişisel verilerini üçüncü kişilere (üçüncü kişi
        şirketlere, kurumlara, grup şirketlerine, üçüncü gerçek kişilere) aktarabilmektedir. Kurumumuz bu doğrultuda
        KVKK’nun 8inci ve 9uncu maddesinde öngörülen düzenlemelere uygun hareket etmektedir. Bilgiler gerekli güvenlik
        önlemlerinin alınması ile burada bahsedilen amaçların gerçekleştirilmesi için yurt içinde tutulabileceği gibi
        yurtdışına da aktarılabilecektir.</p>
      <p>Türk Ceza Kanunu’nun 138inci maddesinde ve KVKK’nun 7nci maddesinde düzenlendiği üzere ilgili kanun
        hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde
        Kurumumuzun kendi kararına istinaden veya kişisel veri sahibinin talebi üzerine kişisel veriler silinir, yok
        edilir veya anonim hâle getirilir.</p>
      <h5>Kişisel Veri Sahibi Olarak Haklarınız</h5>
      <p>KVK Kanunu’nun 11. maddesi uyarınca, kişisel verileri işlenen herkes Şirketimize başvurarak kendisi ile
        ilgili aşağıda yer alan konularla ilgili taleplerde bulunabilir:</p>
      <ol>
        <li>Kişisel verilerinin işlenip işlenmediğini öğrenme,</li>
        <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
        <li>Kişisel verilerinin işlenme amacı ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
        <li>Kişisel verilerinin yurt içinde veya yurt dışında aktarıldığı üçüncü kişileri öğrenme,
        <li>Kişisel verilerinin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme ve bu
          kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
        <li>Kişisel verilerinin işlenmesini gerektiren sebeplerin ortadan kalkması halinde bunların silinmesini, yok
          edilmesini veya anonim hale getirilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin
          aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
        <li>İşlenen kişisel verilerinin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle veri
          sahibinin aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
        <li>Kişisel verilerinin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini
          talep etme.
        </li>
      </ol>
      <p>Kişisel Verilerin Korunması Kanunu Hakkında Genel Bilgilendirme Metninde Değişiklikler</p>
      <p>İşbu “Kişisel Verilerin Korunması Kanunu Hakkında Genel Bilgilendirme Metni” veri korumayla bağlantılı
        hizmetlerimizdeki değişiklikleri duyurmak amacıyla, örneğin yeni hizmetlerin sunulmasında ve yürürlükteki yasal
        gereklilikleri yerine getirmek amacıyla, gerektiğinde değiştirilecektir.</p>
    </div>
  </div>
</div>