<div class="container-fluid bg-light py-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 my-3">
        <h2>
          Legal Warnings
        </h2>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-md-6">
      <p class="text-justify">
        •&nbsp; &nbsp;SundusPay is supervised by the Central Bank of The Republic of Turkey. It implements an up-to-date
        data protection policy as part of the Financial Crimes Investigation Board (MASAK) legislation and the
        Prevention of Money Laundering and The Fight Against The Financing of Terrorism.
      <p class="text-justify">
        • Persons who do not intentionally report suspicious or unusual transactions or provide false or misleading
        information contrary to applicable legislation and rules are stipulated in Law No. 5549, where they will be
        punished with a prison sentence unless they require a more severe punishment under another regulatory provision.
      <p class="text-justify">
        • All transaction processes are carried out within the framework of Risk Management and Compliance procedures in
        relevant laws, regulations and regulations.
      </p>
      <p class="text-justify">
        • SundusPay employees and consultants have no responsibility for direct or indirect damages that may arise due
        to the content, opinions and information on the website.
      <p class="text-justify">
        • The reader has received SundusPay accessing the website or using any of the information on the website means
        that it accepts the above mentioned conditions, and SundusPay reserves the right to change and update both the
        terms and conditions contained in this legal notice and any content, opinions and information on the website
        without any prior notice.

    </div>
    <div class="col-md-5">
      <img  class="img-fluid" src="assets\images\icon_big.svg" width="600">
    </div>
  </div>
</div>