<div class="container-fluid bg-light py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 my-3">
                <h2>
                    About Us
                </h2>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-md-6">
            <p>
                Sundus Elektronik Para ve Ödeme Kuruluşu A.Ş. is a payment institution, licensed by the Central Bank of
                Turkey, established for the purpose of carrying out money transfer activities as specified in Paragraph
                1 (Ç) of Article 12 of the Law No. 6493 on Payment and Securities Settlement Systems, Payment Services
                and Electronic Money Institutions.
            </p>
            <p class="text-justify">
                You can quickly transfer money at our branches.
                We welcome you to SundusPay to make your money transfers with pleasure
                and confidence for a completely different application experience.
            <p>
            </p>
            <h4>Mission</h4>
            <p class="text-justify">
                To make your life easier, it is to provide innovative, practical,
                reliable smart payment technologies and services.
            </p>
            <h4>Vission</h4>
            <p class="text-justify">
                As a local player of the global world, SundusPay aims to carry out its works meticulously by considering
                contributing to the country’s economy.
            <p class="text-justify">
                With its innovative approach and investment, SundusPay will continue its efforts at the highest level to
                lead financial transformation and create the ecosystem.

            <p></p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="assets\images\icon_big.svg" width="600">
        </div>
    </div>
</div>