<div class="container-fluid bg-light py-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 my-3">
        <h2>
          Search Transfer
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="container-md w-75 py-5 ">
  <div class="row form-group" [formGroup]="transferForm" (ngSubmit)="onFormSubmit()">

    <div class="col-md p-1 mx-2">
      <input type="number" class="form-control" formControlName="transferIdInput" id="transferId"
        placeholder="Transfer ID">
    </div>
    <div class="col p-1 mx-2">
      <input type="tel" class="form-control" formControlName="senderMobileInput" id="senderMobile"
        placeholder="Sender Mobile">
    </div>
    <div class="col p-1 mx-2">
      <input type="tel" class="form-control" formControlName="recieverMobileInput" id="receiverMobile"
        placeholder="Receiver Mobile">
    </div>


  </div>
  <div class="row  d-flex justify-content-end mt-3">
    <div class="col-md-4">
      <h6 type="text" id="mainCaptcha"></h6>
      <span><input type="button" id="refresh" onClick="Captcha()" /></span>
    </div>

    <div class="col-md-4">
      <button type="submit" (click)="onFormSubmit()" [disabled]="!transferForm.valid"
        class="btn btn-primary w-75 ">Search</button>
    </div>
  </div>

  <!-- RESULT  -->

  <div class="container-md mt-3" *ngIf="currentTransfer">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-striped ">
              <thead>
                <tr>
                  <th scope="col">Transfer ID</th>
                  <th scope="col">Sender Name</th>
                  <th scope="col">Sender Mobile</th>
                  <th scope="col">Receiver Name</th>
                  <th scope="col">Receiver Mobile</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>

              <tbody id="searchTransfer" class="p-2">

                <tr class="mt-5">
                  <th style="font-weight: normal;">{{currentTransfer.transferID}}</th>
                  <th style="font-weight: normal;">{{currentTransfer.senderName}}</th>
                  <th style="font-weight: normal;">{{currentTransfer.senderMobile}}</th>
                  <th style="font-weight: normal;">{{currentTransfer.recieverName}}</th>
                  <th style="font-weight: normal;">{{currentTransfer.recieverMobile}}</th>
                  <th style="font-weight: normal;">{{currentTransfer.action}}</th>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>

    function Captcha() {
      alert("adas");
      var alpha = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
        'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z',
        '0', '1', '2', '3', '4', '5', '6', '7', '8', '9');
      var i;
      for (i = 0; i < 6; i++) {
        var a = alpha[Math.floor(Math.random() * alpha.length)];
        var b = alpha[Math.floor(Math.random() * alpha.length)];
        var c = alpha[Math.floor(Math.random() * alpha.length)];
        var d = alpha[Math.floor(Math.random() * alpha.length)];
        var e = alpha[Math.floor(Math.random() * alpha.length)];
        var f = alpha[Math.floor(Math.random() * alpha.length)];
        var g = alpha[Math.floor(Math.random() * alpha.length)];
      }
      var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g;
      document.getElementById("mainCaptcha").innerHTML = code
      document.getElementById("mainCaptcha").value = code
    }
  </script>