<div class="container-fluid bg-light py-3">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 my-3">
          <h2 i18n>
            Cookie Policy
          </h2>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-md-6 ">
            <p i18n>In our policy, we use the term "cookies" to refer to cookies and other similar technologies that fall within the scope of the European Union Data Protection Directive. We use different types of cookies for reasons such as increasing the efficiency you get from our website, maximizing the user experience, adapting our website according to your interests, offering you special products and services, and improving our products and services. By using our website you accept the use of cookies and the processing of related data. We would like to point out that the privacy of your personal data Sundus Elektronik Para ve Ödeme Kuruluşu A.Ş. of great importance to We keep our system and internet infrastructure security at the highest level in order to protect your personal information.</p>
            <h4 i18n>What is a cookie?</h4>
            <p i18n>Cookies, in general terms, the website you enter; is a series of text files stored on your device through your internet browser. For example, some of the cookies used remember your language selection, you don't have to repeat such choices every time you log in to the site. In addition, the cookies used create a more convenient and faster visit experience for your individual needs.</p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="assets\images\icon_big.svg" width="700">
        </div>
        <div class="col-md-11">
            <h5 i18n>Types of Cookies</h5>
            <p i18n>Cookies are divided into two as temporary and permanent cookies according to their storage time in your browser. Our website uses temporary and permanent type cookies to distinguish you from other users and to make arrangements according to your interests and preferences. SundusPay Payment Agency A.Ş. In addition to cookies designed by us, cookies can also be used within the scope of services received from third parties. There are two types of cookies, Persistent Cookie and Temporary Cookie, according to their duration.</p>
            <strong>Temporary Cookies:</strong>
            <p i18n>The term session cookies is also used for temporary cookies. These cookies are created while you visit our website and are deleted after your browser is closed. The main purpose of our use of temporary cookies is to ensure that our website functions properly during your visit. For example; ensuring that multi-page and online forms are properly filled.</p>
            <strong>Persistent Cookies:</strong>
            <p i18n>They are created when you visit our website and remain until you delete them or they expire. We use these cookies to provide an individual experience that is compatible with your personal settings.</p>
            <h5 i18n>Cookie Categories</h5>
            <strong>a) Technical Cookies:</strong>
            <p i18n>Thanks to the use of technical cookies, the functional use of the website is ensured, but pages and areas that do not work on the site are detected.</p>
            <strong>b) Authentication Cookies:</strong>
            <p i18n>: In case the site visitor logs in using a password, the identity of the site user is determined on each page he visits on the site, thus preventing the user from logging in using a password on other pages he visits.</p>
            <strong>c) Flash Cookies:</strong>
            <p i18n>These are the types of cookies that enable the effective use of image or audio content on the website.</p>
            <strong>d) Personalization Cookies:</strong>
            <p i18n>These are the types of cookies that are used to remember the preferences made by the user on different pages of the website.</p>
            <strong>e) Analytical Cookies:</strong>
            <p i18n>These are the types of cookies that provide analytical results such as the number of visitors to the website, the detection of the pages viewed, the time interval of the visit to the site.</p>
            <h5 i18n>Cookie Management</h5>
            <p i18n>Mostly all internet browsers are programmed to accept cookies automatically. You can block the use of cookies and delete stored cookies, according to your preference. In general, internet browsers allow you to do the following:/p>
            <p i18n>As a data controller, your personal data is kept by our institution for the following purposes in accordance with the purpose of conducting electronic money and payment services.</p>
            <ul >
                <li i18n>Viewing and deleting cookies saved in your browser</li>
                <li i18n>Blocking third-party cookies</li>
                <li i18n>Blocking third-party cookies</li>
                <li i18n>Deleting cookies stored in your browser from certain sites</li>
                <li i18n>Block all cookies that may be stored in your browser</li>
                <li i18n>Deleting cookies saved when the browser is closed</li>
            </ul>
            <p i18n>If you prevent the storage of cookies and/or delete the stored cookies, some functions of our website may not work actively. For your information, we wish you pleasant use.</p>
        </div>
    </div>
</div>