<div class="container-fluid py-3 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 my-auto">
        <span i18n class="display-4">
          Fast and Reliable<br>
          Money Transfer<br>
          SundusPay

        </span>
        <p i18n class="my-6 ms-1">
          Secure, Economical,
          By offering fast money transfer<br>
          we make your life easier.

        </p>
        <a i18n class="btn btn-lg btn-outline-dark" routerLink="/aboutus" routerLinkActive="active"> Learn More <i
            class=" ms-5  fa fa-arrow-right"></i></a>
      </div>
      <div class="col-md-5  py-2">
        <img alt="transfers image1" i18n-alt class="img-fluid rounded" src="assets/images/d1.jpg" width="600">
      </div>
    </div>
  </div>
</div>


<div class="container py-3 ">
  <div class="container">
    <div class="row text-center justify-content-center">


      <div class="col-md-10 justify-content-center py-5">
        <h1 i18n class="my-auto">
          Low Fees Safe Payment High Speed
        </h1>
        <p i18n class="my-4 my-auto p-2">
          SundusPay
          It performs very fast and reliable money transfer transactions without opening an account.
        </p>
      </div>

      <div class="col-md-4 mx-0 ">
        <img  class="my-4" src="assets\images\a1.png" width="110">
        <h4 i18n>Security</h4>
        <p i18n class="my-4">With our technology-leading systems, we perform your money transfers in safe.</p>
      </div>
      <div class="col-md-4 mx-0  ">
        <img  class="my-4" src="assets\images\t.jpg" width="110">
        <h4 i18n>Fast transfer</h4>
        <p i18n class="my-4">We process your transfer in minutes.</p>
      </div>
      <div class="col-md-4 mx-0">
        <img class="mt-4 mb-3" src="assets\images\ok.jpg" width="110">
        <h4 i18n>Client satisfaction</h4>
        <p i18n class="my-4">We care about our customers very much. With our innovative and technological infrastructure,
          we make life easier for our customers and offer quick solutions to their problems.</p>
      </div>

    </div>

  </div>
</div>




<div class="container-fluld text-light" style="background-image: url('assets/images/bg3.svg');">
  <div class="container text-light py-3">
    <div class="row  justify-content-center">
      <div class="col-md-6 my-auto">
        <h1 i18n class="text-warning">
          Why Send Money with<br>SundusPay
        </h1>
        <p i18n class="my-6">
          Our Mission; To provide innovative, practical, reliable smart payment technologies and services to make your
          life easier.
        </p>
        <a i18n class="btn btn-lg btn-outline-light" routerLink="/aboutus" routerLinkActive="active"> Learn More <i
            class=" ml-3 fa fa-arrow-right"></i></a>
      </div>
      <div class="col-md-5 my-auto">
        <img class="img-fluid  py-2" src="assets\images\icon_big.svg" width="600">
      </div>
    </div>
  </div>
</div>