<nav class="navbar container navbar-expand-lg navbar-light">


    <a alt="header logo" i18n-alt routerLink="index" routerLinkActive="active" class="brand ">
        <img src="assets/images/logo.png" />
    </a>
    <button i18n class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-auto " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item ">
                <a i18n class="nav-link" routerLink="index" routerLinkActive="active" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Money Transfer <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a i18n class="nav-link" routerLink="aboutus" routerLinkActive="active " data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">About Us</a>
            </li>

            <li class="nav-item dropdown" style="border-radius: 50px;">
                <a i18n class="nav-link btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Services</a>
                <div class="dropdown-menu">
                    <a i18n class="dropdown-item border-bottom" routerLink="faq" routerLinkActive="active "
                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" type="button">
                        Faq</a>
                    <a i18n class="dropdown-item border-bottom" routerLink="calculator" routerLinkActive="active "
                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" type="button">
                        Calculator</a>
                    <a i18n class="dropdown-item border-bottom" routerLink="branches" routerLinkActive="active "
                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" type="button">
                        Branches</a>
                    <a i18n class="dropdown-item" routerLink="searchtransfer" routerLinkActive="active "
                        data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" type="button">
                        Search Transfer</a>
                </div>
            </li>

            <li class="nav-item">
                <a i18n class="nav-link" routerLink="legalwarnings" routerLinkActive="active" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Legal Warnings <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a i18n class="nav-link" routerLink="safetyfor" routerLinkActive="active" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">For Safety <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a i18n class="nav-link" routerLink="contactus" routerLinkActive="active" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse.show">Contact Us <span class="sr-only">(current)</span></a>
            </li>
          

            <li *ngIf="locale=='en'" class="nav-item dropdown" style="border: 1px solid #efefef;border-radius: 50px;">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img height="26"
                        src="https://res.cloudinary.com/paysii/image/upload/v1586237050/paysii-orm/flags-iso/GB.png">
                    English</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/tr" role="button" aria-haspopup="true" aria-expanded="false"><img
                            height="26"
                            src="https://res.cloudinary.com/paysii/image/upload/v1586237065/paysii-orm/flags-iso/TR.png">
                        Türkçe</a>
                </div>
            </li>

            <li *ngIf="locale=='tr'"  class="nav-item dropdown" style="border: 1px solid #efefef;border-radius: 50px;">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"><img height="26"
                        src="https://res.cloudinary.com/paysii/image/upload/v1586237065/paysii-orm/flags-iso/TR.png">
                    Türkçe</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/en" role="button" aria-haspopup="true" aria-expanded="false"><img
                            height="26"
                            src="https://res.cloudinary.com/paysii/image/upload/v1586237050/paysii-orm/flags-iso/GB.png">
                        English</a>
                </div>
            </li>

        </ul>
    </div>

</nav>