<div class="container-fluid bg-light py-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 my-3">
        <h2 i18n>
          For Safety
        </h2>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row my-5 justify-content-center">
    <div class="col-md-6">
      <p i18n class="text-justify">
        • The necessary identification, verification and address confirmation of the customer should be presented by the
        customer in full and accurately prior to the transactions.
      <p i18n class="text-justify">
        • SundusPay ensures the protection of customers' personal data and secure transactions by using the most
        advanced technological systems.
      <p i18n class="text-justify">
        • SundusPay never requests your personal information via E-Mail. Do not open E-Mail, SMS or links from people
        you do not know, and never share your personal information. SundusPay Authority does not request such
        information through these channels.
      <p i18n class="text-justify">
        • Do not discredit any e-mail address that appears to have been sent by the SundusPay but does not have an
        extension sunduspay.com.
      <p i18n class="text-justify">

        • Do not share reference number, amount and recipient information for the transfer process with third person.
      </p>

      <p i18n class="text-justify">

        • The correctness and timeliness of the contact information used in the transfer transactions are the
        responsibility of the receiver and sender.
      </p>
      <p i18n class="text-justify">

        • In the event that your personal information is requested, you will be informed by the SundusPay and call our
        phone line 0 212 631 42 43 without sharing any information in the event of requesting your personal information
        as "action has been made on your behalf and necessary corrections will be made outside your knowledge".
      </p>
      <p i18n class="text-justify">

        • We wish you a safe day
      </p>
    </div>
    <div class="col-md-5">
      <img  class="img-fluid" src="assets\images\icon_big.svg" width="600">
    </div>
  </div>
</div>