@font-face {
    font-family: 'Oxygen Light';
    src: url('../../assets/fonts/Oxygen-Light.ttf');
  }

  @font-face {
    font-family: 'Oxygen Regular';
    src: url('../../assets/fonts/Oxygen-Regular.ttf');
  }

  @font-face {
    font-family: 'Oxygen Bold';
    src: url('../../assets/fonts/Oxygen-Bold.ttf');
  }

  body {
      font-family: 'Oxygen Regular';
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen Bold';
    color: #202020;
    letter-spacing: .5px;
  }

.brand img {
    width: 250px;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    /* padding-right: 1.5rem; */
    padding-left: 1.5rem;
}

}

.display-4 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #072982;
}

.btn-lg {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5rem;
}

.text-warning {
    color: #ecbc53 !important;
}

.accordion .card-header {
    padding: 0;
    height: 50px;
    border-radius: 5px;
}

.accordion .nav-link {
    padding: 1.5rem 1rem;
}

.accordion .btn {
    font-size: 1rem;
}

.accordion>.card {
    margin-bottom: 15px;
    border: 0px solid rgba(0,0,0,.125);
}

.bg-yellow {
    background-color: #ecbc53 !important;
}

.bg-blue {
    background-color: #072982 !important;
}

.blue-text {
    color: #072982;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.contactus-box {
    padding: 15px;
    box-shadow: 0 0 7px rgb(230, 230, 230);
}

.inside-box {
    border: 1px solid #e2e2e2;
    padding: 15px;
    height: 480px;
}

.navbar-expand-lg {
    margin-top: 12px;
    margin-bottom: 12px;
}

.underMaintenanceBG {  
    background: repeating-linear-gradient( 45deg, #000, #242424 10px, #ffb901 10px, #ffb901 20px);
    width: 100%;
    padding: 0;
    margin: 0;
    height: 10px;  
}

.accordion .card-header h2 {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;  
}

.accordion .card-header h2:after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  height: 16px;
  line-height: 16px;
  top: 11px;
  position: relative;
  font-size: 20px; 
}


#mainCaptcha{
    position: relative;
    max-width: 200px; 
    padding: 10px;
    margin: 0px;
    text-align: center;
    box-shadow: 1px 2px 7px rgb(0 139 253 / 25%);  
  }

  #refresh{
    position: relative;
    top: -33px;
    left: 169px;
    width: 30px;
    height: 50px;  
    bottom: auto;
    background-color: transparent;
    outline: none;
    background-image: url(https://img.icons8.com/android/24/000000/refresh.png);
    border: 0;
    background-repeat: no-repeat;
    border-radius: 6px;
}

  #txtInput, #Button1{
    position: relative;
    /* left:40px; */
    padding: 10px 10px;
    /* bottom: 40px; */
    font-size: 18px;
  }


  .fa-5 {
    font-size: 50px;
  }

  .rounded-Btn {
    background-color: #1b4ca8;
    border: 2px solid #ffffff; 
    border-radius: 50%;
    /* background: transparent; */
    transition: all 0.3s ease 0s;
    /* width: 55%; */
    padding: 10% 17%;      
  }
 

  .bgSendingCountries {
    background-color: aliceblue
  }

  .bgExchangeInput {
    background-color: #f5f5f5!important;
    border-radius: 10px;
  }
 
  .bgExchangeInput2 {
    background-color: #ebebeb!important;
    border-radius: 10px;
  }

  .font-12 {
    font-size: 13px;
    color: #a7a7a7;
  }