<div class="container-fluid bg-light py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 my-3">
                <h2>
                    Privacy Policy
                </h2>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row my-5 py-5 justify-content-center">
        <div class="col-md-11">
            <h5>Section Heading</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <h5 class="mt-5">Section Heading</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <h5 class="mt-5">Section Heading</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <h5 class="mt-5">Section Heading</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <h5 class="mt-5">Section Heading</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas.
              </p>
        </div>
    </div>
</div>