<div class="container-fluid bg-light py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 my-3 ">
                <h2 i18n>
                    Calculator
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="container my-4 ">
    <div class="row">
        <div class="col-md-4 mx-auto py-5 shadow bg-blue  rounded justify-content-center" [formGroup]="calciForm">

            <div class="col-md-12 py-3 bgExchangeInput">
                <div class="input-group mx-2">
                    <div class="input-group-prepend w-25 ">
                        <select i18n id="lunch" style="height: 50px; font-weight: bold;"
                            class="form-control font-weight-bolder bgSendingCountries text-black-100 p-1 text-center"
                            data-live-search="true" title="Sending from">
                            <option>USD</option>
                            <option>EURO </option>
                            <option>TRY</option>
                        </select>
                    </div>
                    <input i18n type="number" (input)="value1Changed()" class="form-control me-3"
                        formControlName="value1Input" aria-label="Text input with dropdown button">
                </div>
            </div>

            <div class="col-md-5 py-3 mx-auto ps-5">
                <button type="button" (click)="onSubmit()" class="shadow rounded-Btn " title="Exchange Rate">
                    <img class="rounded-circle text-center  img-fluid" src="assets/images/icons/exchangeRates.svg"
                        width="35">
                </button>
            </div>

            <div class="col-md-12 py-3 bgExchangeInput2 mb-3">
                <div class="input-group  mx-2">
                    <div class="input-group-prepend w-25">
                        <select i18n style="height: 50px; font-weight: bold;"
                            class=" form-control font-weight-bolder bgSendingCountries p-1 text-center"
                            data-live-search="true" title="Sending To">
                            <option>TRY</option>
                            <option>EURO </option>
                            <option>USD</option>
                        </select>
                    </div>
                    <input i18n type="number" (input)="value2Changed()" class="form-control me-3"
                        formControlName="value2Input" aria-label="Text input with dropdown button">
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <p i18n class="m-0 p-0 font-12"> 1 USD = 18.83 TRY* </p>
                <p i18n class="m-0 p-0 font-12">Fee: 0.00 USD</p>
            </div>

        </div>
    </div>
</div>