<div class="container-fluid bg-light py-3">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 my-3">
                <h2>
                    TÖDEB HAKEM HEYETİ
                </h2>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row my-5 py-5 justify-content-center">
        <div class="col-md-6">
            <div class="row">
                <h5 class="float-left my-3 "><a class="text-decoration-none" href="assets/content/EK1.pdf" target="_blank"> Ek - 1 : Bilgilendirme
                        Metni <i class="fa fa-external-link-alt px-3 "></i></a></h5>
                <h5 class="float-left my-3"><a class="text-decoration-none" href="assets/content/EK2.pdf" target="_blank"> Ek - 2 : Bireysel Müşteri
                        Hakem Heyeti
                        Yönetmeliği
                        <i class="fa fa-external-link-alt px-3"></i></a></h5>
                <h5 class="float-left my-3"><a class="text-decoration-none" href="assets/content/EK3.pdf" target="_blank"> Ek - 3 : Hakem Heyeti
                        Broşür
                        <i class="fa fa-external-link-alt px-3"></i></a></h5>

            </div>
            <div class="row ">
                <div class="col px-3 my-5">

                    <a class="btn btn-lg btn-outline-dark" href="https://todeb.org.tr/hakemheyetibasvuruformu/"
                        target="_blank"> Hakem Heyeti Başvuru Formu<i class=" ml-5 fa fa-external-link-alt"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img class="img-fluid" src="assets/images/icon_big.svg" width="600">
        </div>
    </div>
</div>