<div class="container py-5">
    <div class="row">
      <div class="col-md-3">
        <img src="../../../assets\images\logo.png" width="250">
        <p class="text-muted"><small>Sundus Elektronik Para ve Ödeme Kuruluşu A.Ş., No. 6493, and Securities Memorandum of
          Understanding Systems, Payment Services and Electronic Money Organizations, article 12 of the Law on Payment
          Services and Electronic Money Organizations. <a  routerLink="aboutus" routerLinkActive="active"><br>Read more...</a></small></p>
      </div>
      <div class="col-md-3">
        <ul class="list-inline">
          <li class="list-item">
            <h5><u>Legal Warnings</u></h5>
          </li>
          <!-- <li class="list-item">
            <a class="nav-link ps-0" href="tr/kullanim-sozlesmesi.html"><i class="fa fa-angle-right pe-3"></i>Kullanım Sözleşmesi <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="list-item  color-text">
            <a class="nav-link ps-0 " routerLink="index" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>KVKK</a>
          </li>
          <!-- <li class="list-item">
            <a class="nav-link ps-0" href="tr/gizlilik-politikamiz.html"><i class="fa fa-angle-right pe-3"></i>Gizlilik Sözleşmesi</a>
          </li> -->
          <!-- <li class="list-item">
            <a class="nav-link ps-0" href="tr/bilgi-guvenligi-politikamiz.html"><i class="fa fa-angle-right pe-3"></i>Bilgi Güvenliği Politikamız</a>
          </li> -->
          <li class="list-item  color-text">
            <a class="nav-link ps-0" routerLink="cookypolicy" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>Cookie Policy</a>
          </li>
          <li class="list-item  color-text">
            <a class="nav-link ps-0" routerLink="home" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>TÖDEB Hakem Heyeti</a>
          </li>
          <li class="list-item  color-text">
            <a class="nav-link ps-0" routerLink="legalwarnings" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>Legal Warnings</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-inline">
          <li class="list-item  color-text">
            <h5><u>Information</u></h5>
          </li>
          <li class="list-item  color-text">
            <a class="nav-link ps-0" routerLink="index" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>Money Transfer <span class="sr-only">(current)</span></a>
          </li>
          <li class="list-item  color-text">
            <a class="nav-link ps-0" routerLink="aboutus" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>About Us</a>
          </li>
          <li class="list-item  color-text">
            <a class="nav-link ps-0"  routerLink="safetyfor" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>For Safety</a>
          </li>
          <li class="list-item  color-text">
            <a class="nav-link ps-0"  routerLink="contactus" routerLinkActive="active"><i class="fa fa-angle-right pe-3"></i>Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <div>
          <a href="mailto:info@sunduspay.com">
            <h5>info@sunduspay.com</h5>
          </a>
          <a href="tel:+90 (212) 631 42 43">
            <h5>+90 (212) 631 42 43</h5>
          </a>
        </div>
        <img src="../../../../../../assets\images\tcmb.png" height="80">
        <img src="../../../assets\images\TODEB_Logo_Eng.png" height="80">
      </div>
    </div>
  </div>

