<div class="container-fluid bg-light py-3">
    <div class="container">
      <div class="row text-center">  
        <div class="col-md-12 my-3">
          <h2 i18n>
            Customer Complaint / Satisfaction / Request
          </h2>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row my-3 py-3 justify-content-center">
      <div class="col-md-5">
        <div class="contactus-box">
          <div class="inside-box">
            <h2  class="mb-4">Sundus Elektronik Para ve Ödeme Kuruluşu A.Ş.</h2>
            <h5 i18n>Location</h5>
            <p i18n class="text-muted"> Esentepe Mahallesi Büyükdere Caddesi,<br>
              No: 171 A Metrocity D: 176 34330 Şişli/İstanbul, Turkey.</p>
            <h5 i18n>Contact</h5>
            <a i18n href="tel:+90 (212) 631 42 43">
              <p  class="text-muted">+90 (212) 631 42 43</p>
            </a>
            <h5>Fax</h5>
            <a href="tel:+90 (212) 631 42 43">
              <p class="text-muted">+90 (212) 531 42 43</p>
            </a>
            <h5 i18n>Email us</h5>
            <a i18n href="mailto:info@sunduspay.com">
              <p class="text-muted">info@sunduspay.com</p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="contactus-box">
          <div class="inside-box">
            <h2 i18n class="my-2">Corporate Information</h2>
            <h5 i18n>Commercial Registration Number</h5>
            <p i18n class="text-muted">149619-5</p>
            <h5 i18n>Taxation Number</h5>
            <p i18n class="text-muted">8150804733</p>
            <h5 i18n>Central Registration System Number</h5>
            <p i18n class="text-muted">0815080473300001</p>
            <h5 i18n>Paid-in Capital</h5>
            <p i18n class="text-muted">35.000.000 TL</p>
            <h5 i18n>Supervisory Authority</h5>
            <p i18n class="text-muted">Türkiye Cumhuriyet Merkez Bankası (TCMB)<br>
              Hacı Bayram Mah. İstiklal Cad. No:10 06050 Ulus Altındağ,Ankara
              Telefon : +90 (312) 507 50 00 Faks : +90 (312) 507 56 40</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 mx-auto">
      <div class="contactus-box">
        <div class="inside-box ">
          <iframe i18n
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3007.6869656763606!2d29.007462515456915!3d41.07583472321367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab65cde566bdf%3A0x92335081f9f77572!2zTWV0cm9jaXR5IMSwxZ4gTUVSS0VaxLA!5e0!3m2!1str!2str!4v1652691188812!5m2!1str!2str"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
